body {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-image:
    radial-gradient(rgba(255, 255, 255, 0.494) 13.6%, transparent 15.2%),
    radial-gradient(rgba(255, 255, 255, 0.494) 13.6%, transparent 15.2%);
  background-position: 0px 0px, 12px 12px;
  background-size: 24px 24px;
  background-color:  rgba(187, 113, 34, 0.551);
}

.container {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-top: 16px;
  position: relative;
  text-align: center;
}

.main-card {
  background-color: white;
  color: #784610;
  border-radius: 34px;
  text-align: left;
  overflow: hidden;
  position: relative;
}

#entries {
  display: flex;
  flex-direction: column;
}

p {
  font-weight: 400;
}

a {
  color: black;
}

.card {
  margin-top: 16px;
  border-radius: 34px;
  background-color: white;
  color: #784610;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 100%;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}
.card .image-previews {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  gap: 4px;
  margin-top: 4px;
  justify-content: center;
  align-items: center;
}
.image-previews img {
  min-width: 0;
  flex: 1;
  border-radius: 6px;
  cursor: pointer;
}
.image-previews img.wide {
  max-width: 100px;
}
.image-previews img.tall {
  max-width: 75px;
}
.image-previews .selected-image.wide {
  flex-grow: 1.3;
  max-width: 130px !important;
}
.image-previews .selected-image.tall {
  flex-grow: 1.3;
  max-width: 100px !important;
}
.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.card-title h1 {
  margin: 0;
}
.card-title img.logo {
  object-fit: scale-down;
  margin-left: 5px;
}
.card-title, .card-text {
  padding-left: 30px;
  padding-right: 30px;
}
.image-slideshow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}
.image-arrow {
  min-width: 30px;
  max-width: 30px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  color: #784610;
  touch-action: manipulation;
  will-change: transform;
  box-sizing: border-box;
}
.main-image {
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
.main-image img.shown {
  border-radius: 12px;
  display: block;
  max-width: 100%;
  max-height: 640px;
  width: auto;
  margin: auto;
}
.main-image img:not(.shown) {
  display: none;
}
.card iframe {
  height: 1200px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.main-info h1, .card h1 {
  margin-top: 0;
  font-weight: 500;
  font-size: 25px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
  justify-content: space-around;
  padding: 10px;
}

.navbar a {
  font-size: 20px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  /* border-style: solid; */
  /* border-width: 1px; */
  color: #784610;
  /* border-color: #784610; */
  border-radius: 20px;
  text-decoration: none;
}


.navbar a:hover {
  font-weight: 500;
}

.navbar .nav-selected {
  background-color: rgb(241, 241, 241);
}


#footer {
  margin-top: 50px;
  text-align: right;
  opacity: 70%;
}

/* Animation and Countdown */
#snow-animation {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: 0% 100%;
}

.centered-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
}

#countdown-title {
  color: white;
  font-weight: 100;
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
}

#countdown {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 45px;
  font-style: normal;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.countdown-block {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
.countdown-block p {
  margin: 0;
  padding: 0;
}

.countdown-digit {
  font-weight: 500;
  font-size: 50px;
}

.countdown-label {
  font-weight: 300;
  font-size: 16px;
  color: white;
}

.main-info {
  padding: 0 20px 20px 20px;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
}
.main-info p {
  margin-bottom: 0;
}
.results-title {
  display: flex;
  justify-content: space-between;
}
.results-title p {
  padding: 0;
  margin: 0;
  font-weight: 500;
}
.results-title .results-total {
  text-align: right;
}
.result {
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  margin-top: 10px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.result p {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.result span {
  font-size: 20px;
  font-weight: 500;
}
.result img {
  min-width: 60px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 420px) {
  .card iframe {
    height: 1400px;
  }
  .card-title {
    /* padding-left: 18px; */
    padding-right: 15px;
  }
  .card img.logo {
    transform: scale(0.75);
  }
  .main-info h1, .card h1{
    font-size: 20px;
  }
  #countdown-title {
    font-size: 24px;
  }
  .countdown-digit {
    font-size: 40px;
  }
  .countdown-label {
    font-size: 12px;
  }
  .navbar {
     gap: 5px;
  }
  .navbar a {
    font-size: 12px;
    padding: 5px;
  }
}

@media only screen and (max-width: 300px) {
  #countdown-title {
    font-size: 16px;
  }
  .countdown-digit {
    font-size: 28px;
  }
  .countdown-label {
    font-size: 8px;
  }

  .result {
    gap: 10px
  }
  .result img {
    min-width: 45px;
    width: 45px;
    height: 45px;
  }
  .result p {
    font-size: 12px;
  }

}
